In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [117]:
df = pd.read_csv('bus_location2.csv',encoding='cp949')
df_2t = pd.read_csv('bus_route.csv',encoding='cp949')
df_2 = pd.read_csv('bus_route.csv',encoding='cp949')

In [20]:
df.head()

,dataTm,lastStTm,fullSectDist,rtDist,sectionId,sectDist,plainNo,vehId,gpsX,gpsY,sectOrd,congetion,isFullFlag,stopFlag
0,20210813105355,13391,0.230,58.1,109602290,0.000,서울74사7908,123060311,127.044352,37.689948,1,0,0,0
1,20210813105600,0,0.230,58.1,109602290,0.000,서울74사3884,123060104,127.044352,37.689948,1,0,0,0
2,20210813105445,13385,0.230,58.1,109602290,0.000,서울71사1287,123060554,127.044352,37.689948,1,0,0,0
3,20210813104548,13189,0.230,58.1,109602290,0.000,서울74사4014,123060101,127.044352,37.689948,1,3,0,0
4,20210813105657,13217,0.714,58.1,109602294,0.103,서울75사1312,123060251,127.045972,37.683422,3,3,0,1

In [103]:
df_2.head()

,arsId,busRouteId,direction,fullSectDist,gpsX,gpsY,section,seq,station,stationNm,stationNo,trnstnid
0,12469.0,123000010,세곡동사거리,0,126.907926,37.646746,0,1,111001112,진관공영차고지,12469,122000699
1,35160.0,123000010,세곡동사거리,637,126.905667,37.646859,111601165,2,218000221,동산동능모퉁이.한국지역난방공,35160,122000699
2,12010.0,123000010,세곡동사거리,816,126.913730,37.643407,111602007,3,111000010,은평뉴타운10단지,12010,122000699
3,12012.0,123000010,세곡동사거리,796,126.916837,37.637116,111603572,4,111000012,구파발역입구,12012,122000699
4,12014.0,123000010,세곡동사거리,749,126.919189,37.630865,111602011,5,111000014,박석고개.신도고등학교,12014,122000699

In [ ]:
df_2

In [53]:
df=df.sort_values(by=['dataTm'], axis=0)

In [78]:
# df.head()
new_0 = {'arsld':-1,'direction':-1}

In [79]:
df_2t = df_2t.append(new_0, ignore_index=True)

In [118]:
# df_dup=df_dup.sort_values(by=['dataTm'], axis=0)
df_2t.head()

,arsId,busRouteId,direction,fullSectDist,gpsX,gpsY,section,seq,station,stationNm,stationNo,trnstnid
0,12469.0,123000010,세곡동사거리,0,126.907926,37.646746,0,1,111001112,진관공영차고지,12469,122000699
1,35160.0,123000010,세곡동사거리,637,126.905667,37.646859,111601165,2,218000221,동산동능모퉁이.한국지역난방공,35160,122000699
2,12010.0,123000010,세곡동사거리,816,126.913730,37.643407,111602007,3,111000010,은평뉴타운10단지,12010,122000699
3,12012.0,123000010,세곡동사거리,796,126.916837,37.637116,111603572,4,111000012,구파발역입구,12012,122000699
4,12014.0,123000010,세곡동사거리,749,126.919189,37.630865,111602011,5,111000014,박석고개.신도고등학교,12014,122000699

In [119]:
df_2.head()

,arsId,busRouteId,direction,fullSectDist,gpsX,gpsY,section,seq,station,stationNm,stationNo,trnstnid
0,12469.0,123000010,세곡동사거리,0,126.907926,37.646746,0,1,111001112,진관공영차고지,12469,122000699
1,35160.0,123000010,세곡동사거리,637,126.905667,37.646859,111601165,2,218000221,동산동능모퉁이.한국지역난방공,35160,122000699
2,12010.0,123000010,세곡동사거리,816,126.913730,37.643407,111602007,3,111000010,은평뉴타운10단지,12010,122000699
3,12012.0,123000010,세곡동사거리,796,126.916837,37.637116,111603572,4,111000012,구파발역입구,12012,122000699
4,12014.0,123000010,세곡동사거리,749,126.919189,37.630865,111602011,5,111000014,박석고개.신도고등학교,12014,122000699

In [82]:
df_2t=df_2t.sort_values(by=['arsld'], axis=0)

In [115]:
df_2t.head()

,arsId,busRouteId,direction,fullSectDist,gpsX,gpsY,section,seq,station,stationNm,stationNo,trnstnid,arsld
275,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
0,12469.0,123000010.0,세곡동사거리,0.0,126.907926,37.646746,0.0,1.0,111001112.0,진관공영차고지,12469,122000699.0,NaN
1,35160.0,123000010.0,세곡동사거리,637.0,126.905667,37.646859,111601165.0,2.0,218000221.0,동산동능모퉁이.한국지역난방공,35160,122000699.0,NaN
2,12010.0,123000010.0,세곡동사거리,816.0,126.913730,37.643407,111602007.0,3.0,111000010.0,은평뉴타운10단지,12010,122000699.0,NaN
3,12012.0,123000010.0,세곡동사거리,796.0,126.916837,37.637116,111603572.0,4.0,111000012.0,구파발역입구,12012,122000699.0,NaN

In [116]:
df_2.head()

,arsId,busRouteId,direction,fullSectDist,gpsX,gpsY,section,seq,station,stationNm,stationNo,trnstnid
275,0.0,0,0,0,0.000000,0.000000,0,0,0,0,0,1111111111111111111111
76,1001.0,123000010,진관차고지,604,126.987750,37.569765,101600424,77,100000001,종로2가사거리,01001,122000699
164,1001.0,100100073,상암차고지,604,126.987750,37.569765,101600424,66,100000001,종로2가사거리,01001,121000986
213,1002.0,100100019,AT센터,456,126.996566,37.579183,100601822,26,100000002,창경궁.서울대학교병원,01002,121000222
212,1003.0,100100019,AT센터,499,126.998340,37.582671,100600049,25,100000003,명륜3가.성대입구,01003,121000222

In [104]:
df_2.columns

Index(['arsId', 'busRouteId', 'direction', 'fullSectDist', 'gpsX', 'gpsY',
       'section', 'seq', 'station', 'stationNm', 'stationNo', 'trnstnid'],
      dtype='object')

In [110]:

df_2.loc[len(df_2)] = [0,0,0,0,0,0,0,0,0,0,0,1111111111111111111111]

# df_2 = df_2.append(new_1, ignore_index=True)

In [111]:
df_2.tail()

,arsId,busRouteId,direction,fullSectDist,gpsX,gpsY,section,seq,station,stationNm,stationNo,trnstnid
271,10006.0,100100019,도봉산역,507,127.045103,37.677262,109602303,84,109000006,서울북부지방법원.검찰청.도봉역성황당,10006,121000222
272,10004.0,100100019,도봉산역,611,127.046067,37.682672,109600337,85,109000004,도봉한신아파트,10004,121000222
273,10002.0,100100019,도봉산역,660,127.045813,37.688568,109600339,86,109000002,도봉산역,10002,121000222
274,10341.0,100100019,도봉산역,409,127.044267,37.690177,109602331,87,109000408,도봉산역광역환승센터,10341,121000222
275,0.0,0,0,0,0.000000,0.000000,0,0,0,0,0,1111111111111111111111

In [114]:
# df_2=df_2.sort_values(by=['arsId'], axis=0)
df_2.head()

,arsId,busRouteId,direction,fullSectDist,gpsX,gpsY,section,seq,station,stationNm,stationNo,trnstnid
275,0.0,0,0,0,0.000000,0.000000,0,0,0,0,0,1111111111111111111111
76,1001.0,123000010,진관차고지,604,126.987750,37.569765,101600424,77,100000001,종로2가사거리,01001,122000699
164,1001.0,100100073,상암차고지,604,126.987750,37.569765,101600424,66,100000001,종로2가사거리,01001,121000986
213,1002.0,100100019,AT센터,456,126.996566,37.579183,100601822,26,100000002,창경궁.서울대학교병원,01002,121000222
212,1003.0,100100019,AT센터,499,126.998340,37.582671,100600049,25,100000003,명륜3가.성대입구,01003,121000222

In [ ]:
# df_dup=df_dup.sort_values(by=['dataTm'], axis=0)

In [60]:
new_0 = {'arsld':-1,'direction':-1}

In [64]:
df_dup[df_dup['dataTm']==20210810090000]

,dataTm,lastStTm,fullSectDist,rtDist,sectionId,sectDist,plainNo,vehId,gpsX,gpsY,sectOrd,congetion,isFullFlag,stopFlag
197678,2.021081e+13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df_dup=df_dup.sort_values(by=['dataTm'], axis=0)

In [68]:
df_dup.head(3)

,dataTm,lastStTm,fullSectDist,rtDist,sectionId,sectDist,plainNo,vehId,gpsX,gpsY,sectOrd,congetion,isFullFlag,stopFlag
197678,2.021081e+13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.021081e+13,6813.0,1.404,58.1,121600693.0,1.365,서울75사2556,123060395.0,127.041566,37.466772,43.0,3.0,0.0,0.0
1,2.021081e+13,6813.0,1.404,58.1,121600693.0,1.365,서울75사2556,123060395.0,127.041566,37.466772,43.0,3.0,0.0,0.0

In [71]:
df.tail()

,dataTm,lastStTm,fullSectDist,rtDist,sectionId,sectDist,plainNo,vehId,gpsX,gpsY,sectOrd,congetion,isFullFlag,stopFlag
191217,20210814102357,6039,0.702,55.28,121608378,0.440,서울74사7608,113062016,127.042363,37.465910,41,3,0,0
196969,20210814102357,2356,0.292,65.80,100602863,0.103,서울75사3455,123060186,126.980995,37.570190,79,3,0,1
196972,20210814102357,214,0.777,65.80,111603569,0.560,서울71사1840,123060170,126.916099,37.640723,97,3,0,0
82445,20210814102357,751,0.852,58.10,109602300,0.478,서울71사1815,123060370,127.042370,37.661806,80,3,0,0
196958,20210814102358,9305,0.401,65.80,101603522,0.267,서울74사7916,123060020,126.987417,37.566228,25,3,0,0

In [ ]:
result1 = pd.concat([df1,df_dup])

In [30]:
df_2['direction'].unique()

array(['세곡동사거리', '진관차고지', '안골마을', '상암차고지', 'AT센터', '도봉산역'], dtype=object)

In [7]:
df['dataTm']

0         20210813105355
1         20210813105600
2         20210813105445
3         20210813104548
4         20210813105657
               ...
187625    20210810174554
187626    20210810174552
187627    20210810174501
187628    20210810174555
187629    20210810174538
Name: dataTm, Length: 187630, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187630 entries, 0 to 187629
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   dataTm        187630 non-null  int64
 1   lastStTm      187630 non-null  int64
 2   fullSectDist  187630 non-null  float64
 3   rtDist        187630 non-null  float64
 4   sectDist      187630 non-null  float64
 5   plainNo       187630 non-null  object
 6   vehId         187630 non-null  int64
 7   gpsX          187630 non-null  float64
 8   gpsY          187630 non-null  float64
 9   congetion     187630 non-null  int64
 10  isFullFlag    187630 non-null  int64
 11  stopFlag      187630 non-null  int64
dtypes: float64(5), int64(6), object(1)
memory usage: 17.2+ MB

In [22]:
df_merge = pd.merge(df,df_2, how='left', left_on='sectionId', right_on='section')
df_merge

,dataTm,lastStTm,fullSectDist_x,rtDist,sectionId,sectDist,plainNo,vehId,gpsX_x,gpsY_x,...,direction,fullSectDist_y,gpsX_y,gpsY_y,section,seq,station,stationNm,stationNo,trnstnid
0,20210813105355,13391,0.230,58.1,109602290,0.000,서울74사7908,123060311,127.044352,37.689948,...,AT센터,230,127.045431,37.689195,109602290,2,109000001,도봉산역,10001,121000222
1,20210813105600,0,0.230,58.1,109602290,0.000,서울74사3884,123060104,127.044352,37.689948,...,AT센터,230,127.045431,37.689195,109602290,2,109000001,도봉산역,10001,121000222
2,20210813105445,13385,0.230,58.1,109602290,0.000,서울71사1287,123060554,127.044352,37.689948,...,AT센터,230,127.045431,37.689195,109602290,2,109000001,도봉산역,10001,121000222
3,20210813104548,13189,0.230,58.1,109602290,0.000,서울74사4014,123060101,127.044352,37.689948,...,AT센터,230,127.045431,37.689195,109602290,2,109000001,도봉산역,10001,121000222
4,20210813105657,13217,0.714,58.1,109602294,0.103,서울75사1312,123060251,127.045972,37.683422,...,AT센터,714,127.044921,37.677775,109602294,4,109000005,서울북부지방법원.검찰청.도봉역성황당,10005,121000222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373283,20210814092142,2921,3.317,65.8,101604644,0.606,서울71사1838,123060505,127.004546,37.538185,...,도봉산역,3317,126.987852,37.564350,101604644,57,101000002,서울백병원.국가인권위.안중근활동터,02002,121000222
373284,20210814092151,2482,0.173,65.8,100602423,0.000,서울74사7930,123060557,126.987750,37.569765,...,진관차고지,173,126.986247,37.570257,100602423,78,100000389,종로2가,01014,122000699
373285,20210814092151,2482,0.173,65.8,100602423,0.000,서울74사7930,123060557,126.987750,37.569765,...,상암차고지,173,126.986247,37.570257,100602423,67,100000389,종로2가,01014,121000986
373286,20210814092137,1750,0.855,65.8,112603639,0.365,서울71사1817,123060512,126.955616,37.576752,...,진관차고지,855,126.950655,37.581865,112603639,85,112000400,무악재역,13032,122000699
373287,20210814092149,684,0.692,65.8,111603709,0.249,서울74사7931,123060289,126.920766,37.619556,...,진관차고지,692,126.919973,37.624215,111603709,95,111000926,세명컴퓨터고등학교,12015,122000699

In [23]:
df_merge.columns

Index(['dataTm', 'lastStTm', 'fullSectDist_x', 'rtDist', 'sectionId',
       'sectDist', 'plainNo', 'vehId', 'gpsX_x', 'gpsY_x', 'sectOrd',
       'congetion', 'isFullFlag', 'stopFlag', 'arsId', 'busRouteId',
       'direction', 'fullSectDist_y', 'gpsX_y', 'gpsY_y', 'section', 'seq',
       'station', 'stationNm', 'stationNo', 'trnstnid'],
      dtype='object')

In [24]:
df_merge = df_merge.drop(['section'],axis=1)

In [26]:
df_merge.head()

,dataTm,lastStTm,fullSectDist_x,rtDist,sectionId,sectDist,plainNo,vehId,gpsX_x,gpsY_x,...,busRouteId,direction,fullSectDist_y,gpsX_y,gpsY_y,seq,station,stationNm,stationNo,trnstnid
0,20210813105355,13391,0.230,58.1,109602290,0.000,서울74사7908,123060311,127.044352,37.689948,...,100100019,AT센터,230,127.045431,37.689195,2,109000001,도봉산역,10001,121000222
1,20210813105600,0,0.230,58.1,109602290,0.000,서울74사3884,123060104,127.044352,37.689948,...,100100019,AT센터,230,127.045431,37.689195,2,109000001,도봉산역,10001,121000222
2,20210813105445,13385,0.230,58.1,109602290,0.000,서울71사1287,123060554,127.044352,37.689948,...,100100019,AT센터,230,127.045431,37.689195,2,109000001,도봉산역,10001,121000222
3,20210813104548,13189,0.230,58.1,109602290,0.000,서울74사4014,123060101,127.044352,37.689948,...,100100019,AT센터,230,127.045431,37.689195,2,109000001,도봉산역,10001,121000222
4,20210813105657,13217,0.714,58.1,109602294,0.103,서울75사1312,123060251,127.045972,37.683422,...,100100019,AT센터,714,127.044921,37.677775,4,109000005,서울북부지방법원.검찰청.도봉역성황당,10005,121000222

In [28]:
df_merge['busRouteId'].nunique()
df_merge['busRouteId'].unique()

array([100100019, 123000010, 100100073], dtype=int64)

In [43]:
# df_0019=df_merge[df_merge['busRouteId']==100100019]
df_0019=df_0019.sort_values(by=['dataTm'], axis=0)
# df_merge[df_merge['busRouteId']==100100010]
# df_merge[df_merge['busRouteId']==100100073]

In [52]:
df_0019.head(30)
df_0019[df_0019['stationNm']== '양재2동주민센터.양재꽃시장'][['sectOrd','seq','stationNm']]


# df_0019['sectOrd']

        sectOrd  seq       stationNm
60641        43   44  양재2동주민센터.양재꽃시장
77185        43   44  양재2동주민센터.양재꽃시장
55186        43   44  양재2동주민센터.양재꽃시장
35091        43   44  양재2동주민센터.양재꽃시장
58388        43   44  양재2동주민센터.양재꽃시장
...         ...  ...             ...
358224       51   44  양재2동주민센터.양재꽃시장
359330       51   44  양재2동주민센터.양재꽃시장
363006       51   44  양재2동주민센터.양재꽃시장
149352       43   44  양재2동주민센터.양재꽃시장
360652       51   44  양재2동주민센터.양재꽃시장

[6677 rows x 3 columns]

In [37]:
df_merge[df_merge['busRouteId']==123000010]

,dataTm,lastStTm,fullSectDist_x,rtDist,sectionId,sectDist,plainNo,vehId,gpsX_x,gpsY_x,...,busRouteId,direction,fullSectDist_y,gpsX_y,gpsY_y,seq,station,stationNm,stationNo,trnstnid
15,20210813105651,9183,2.585,58.1,102603021,2.145,서울74사3022,123060117,127.001616,37.541969,...,123000010,세곡동사거리,2585,127.005729,37.535491,28,102000071,순천향대학병원.한남오거리,03165,122000699
18,20210813105639,8889,2.673,58.1,121600088,2.507,서울71사1865,123060583,127.019019,37.517239,...,123000010,세곡동사거리,2673,127.019939,37.514489,29,121000015,신사역.푸른저축은행,22015,122000699
21,20210813105634,8906,2.673,58.1,121600088,1.406,서울71사1814,123060539,127.014812,37.525061,...,123000010,세곡동사거리,2673,127.019939,37.514489,29,121000015,신사역.푸른저축은행,22015,122000699
24,20210813105656,8157,0.647,58.1,121600012,0.169,서울71사1862,123060191,127.023590,37.506055,...,123000010,세곡동사거리,647,127.025438,37.501817,31,121000011,지하철2호선강남역,22011,122000699
27,20210813105652,7306,0.650,58.1,121608025,0.236,서울74사4050,123060106,127.033215,37.485817,...,123000010,세곡동사거리,650,127.035902,37.482610,35,121000003,양재역.서초문화예술회관,22003,122000699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373278,20210814092114,3378,1.370,65.8,121607076,0.334,서울74사7926,123060552,127.019842,37.515547,...,123000010,진관차고지,1370,127.016005,37.524478,73,122000408,한남대교전망카페,23531,122000699
373281,20210814092142,2921,3.317,65.8,101604644,0.606,서울71사1838,123060505,127.004546,37.538185,...,123000010,진관차고지,3317,126.987852,37.564350,76,101000002,서울백병원.국가인권위.안중근활동터,02002,122000699
373284,20210814092151,2482,0.173,65.8,100602423,0.000,서울74사7930,123060557,126.987750,37.569765,...,123000010,진관차고지,173,126.986247,37.570257,78,100000389,종로2가,01014,122000699
373286,20210814092137,1750,0.855,65.8,112603639,0.365,서울71사1817,123060512,126.955616,37.576752,...,123000010,진관차고지,855,126.950655,37.581865,85,112000400,무악재역,13032,122000699
373287,20210814092149,684,0.692,65.8,111603709,0.249,서울74사7931,123060289,126.920766,37.619556,...,123000010,진관차고지,692,126.919973,37.624215,95,111000926,세명컴퓨터고등학교,12015,122000699